
body {
  background-color: rgb(181, 230, 181);
  margin: 0;
  font-family: Arial, sans-serif;
}

.content {
  margin-top: 60px;
  padding: 1rem; 
}

.home {
  text-align: center;
}

.page-title {
  font-size: 2rem;
  margin: 1rem 0;
  color: #333; 
}

.doctor-cards {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  gap: 1rem;
  padding: 1rem; 
}

.toggle-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 1rem;
  transition: background-color 0.3s;
}

.toggle-button:hover {
  background-color: #0056b3;
}

/* ----------------------------ABOUT PAGE-------------------------- */

.about-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  text-align: center;
}

.about-title {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
}

.about-description {
  font-size: 1.2rem;
  color: #666;
  line-height: 1.8;
}

/* ---------CONTACT PAGE---------------- */

.contact-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 40px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.contact-title {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
}

.contact-message {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 30px;
}

.contact-details p {
  font-size: 1.1rem;
  color: #444;
  margin-bottom: 10px;
}

.contact-details a {
  color: #4a90e2;
  text-decoration: none;
  transition: color 0.3s ease;
}

.contact-details a:hover {
  color: #357ab8;
}

/* -----------------service page--------------- */

.services-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  background-color: #f9f9f9;
  padding: 20px;
  box-sizing: border-box;
}

.services-title {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 20px;
  font-weight: bold;
}

.services-list {
  display: flex;
  flex-direction: row;
  gap: 20px; 
  flex-wrap: wrap;
}

.service-item {
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 300px;
  text-align: center;
}

.service-item h2 {
  font-size: 1.3rem;
  color: #333;
  margin-bottom: 10px;
}

.service-item p {
  font-size: 1rem;
  color: #666;
}

